# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub-cache/
.pub/

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/DerivedData/

# Android related  
**/android/.gradle/
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/local.properties
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Web related
lib/generated_plugin_registrant.dart

GoogleService-Info.plist
google-services.json
